@mixin flex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin grid($ac: center, $jc: center, $ai: center, $ji: center) {
    display: grid;
    align-content: $ac;
    justify-content: $jc;
    align-items: $ai;
    justify-items: $ji;
}