.footer {
    background-color: #020203;
    .main {        
        .sign-up {        
            padding: 15px;    
            @include flex($jc: space-between, $ai: center, $fd: row);
            &__text {
                h1 {
                    margin-bottom: 10px;
                    color: #FFFFFF;
                    font-weight: 500;
                }
                p {
                    color: #FFFFFF;
                    font-weight: 300;
                }
            }
            &__subscribe {
                @include flex($jc: center, $ai: center, $fd: row);
                .email {
                    width: 400px;
                    height: 50px;
                    background-color: transparent;
                }
                .button {
                    margin-left: 20px;
                    color: #FFFFFF;
                    width: 150px;
                    height: 50px;
                    background-color: #0156FF;
                    border-radius: 50px;
                    cursor: pointer;
                }
            }
        }
        .information-section {
            @include grid($ac: center, $jc: center, $ai: start, $ji: center);
            grid-template: auto / repeat(5, 1fr);
            border-bottom: 2px solid #ffffff3f;
            .information {
                margin-top: 50px;
                padding: 15px;
                .heading {
                    color: #4b4b4b;
                    font-weight: bolder;
                }
                .list {
                    line-height: 25px;
                    margin-top: 30px;
                    &__heading {
                        color: #FFFFFF;
                        a {
                            color: #FFFFFF;
                        }
                        .contact {
                            color: #01A4FF;
                        }
                    }
                }
            }
        }
        .cards {
            @include flex($jc: space-between, $ai: center, $fd: row);
            &__fb {
                @include flex($jc: center, $ai: center, $fd: row);
                img {
                    margin: 15px;
                }
                img:last-child {
                    margin-left: 5px;
                }
            }
            &__cards {
                @include flex($jc: center, $ai: center, $fd: row);
                img {
                    margin: 3px;
                    width: 35px;
                    height: auto;
                }
            }
            &__copyright {
                p {
                    margin: 15px;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}